@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 22px;
  border: 0.5px solid rgba(226, 232, 240, 0.3);
  background: #0f1535;
  color: white;
}

[type="search"] {
  /* -webkit-appearance: textfield; */
  outline-offset: -2px;
  margin-left: 12px;
}

.betting-font {
  font-family: "Abhaya Libre", serif;
}

.gradient-background {
  background-image: linear-gradient(
    to bottom,
    rgba(224, 225, 226, 0),
    rgba(224, 225, 226, 1),
    rgba(224, 225, 226, 0.1563)
  );
}
.custom-gradient {
  background: linear-gradient(
    90deg,
    rgba(224, 225, 226, 0) 0.86%,
    #e0e1e2 52.59%,
    rgba(224, 225, 226, 0.16) 101.18%
  );
}

.graph-container {
  border-radius: 12px;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(10, 14, 35, 0.71) 91.2%
  );
  backdrop-filter: blur(60px);
}

.table-container {
  border-radius: 20px;
  /* width: 950px; */
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(10, 14, 35, 0.71) 91.2%
  );
  backdrop-filter: blur(60px);
}
.support {
  border-radius: 8px;
  background: linear-gradient(180deg, #0f61dc 0%, rgba(24, 109, 238, 0) 100%);
}

.casino {
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    #ff6b00 43.75%,
    rgba(24, 109, 238, 0) 100%
  );
}

/* .inside-graph {
  border-radius: 20px;
  background: linear-gradient(
    127deg,
    #060c29 28.26%,
    rgba(4, 12, 48, 0.5) 91.2%
  );
  backdrop-filter: blur(60px);
} */
